html, body {
        margin: 0;
        height: 100vh;
}

body {
        font-family: sans-serif;
}

header, footer, section, nav {
        text-align: center;
}

header,footer {
        color: white;
        background-color: #444;
}

header {
        padding: 2em;
}

footer {
        padding: 0.5em;
}

section {
        padding: 5em;
        background-color: #ddd;
        height: 90vh;
}

nav {
        background-color: #ddd;
        padding: 1em;
}

img {
        max-width: 100%;
        height: auto;
}
