/* =========================================
   1. GLOBAL & BASE STYLES
   ========================================= */
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Comfortaa', cursive;
    display: flex;
    flex-direction: column;

    justify-content: flex-start;
    /* align items in Main Axis */
    align-items: stretch;
    /* align items in Cross Axis */
    align-content: stretch;
    /* Extra space in Cross Axis */
}

/* =========================================
   2. LAYOUT & STRUCTURE
   ========================================= */
header,
footer,
section,
nav {
    text-align: center;
}

header,
footer {
    color: white;
}

header {
    display: flex;
    height: 6em;
    z-index: 1;
    background-color: #6a1b9a;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

header h1 {
    margin: auto;
}

section {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.content {
    margin: auto;
}

.content img {
    max-width: 100%;
    height: auto;
    margin-top: 1em;
}

nav {
    z-index: 1;
    background-color: #333;
    padding: 1em;
    box-shadow: 0 -3px 6px rgba(0, 0, 0, 0.16), 0 -3px 6px rgba(0, 0, 0, 0.23);
}

footer {
    display: flex;
    height: 2em;
    background-color: #222;
}

footer p {
    margin: auto;
}

/* =========================================
   3. SHARE BUTTONS
   ========================================= */
.share-button {
    display: inline-block;
    margin: 4px 6px;
    width: 32px;
    height: 32px;
    border-radius: 32px;
    padding: 0;
    color: #FFF;
    background-color: #1f1f1f;
    outline: none;
    text-decoration: none;
    /* border, highlight, inner shadow, drop shadow */
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1);
    transition: 0.4s;
}

.share-button:focus {
    background-image: none;
}

.share-button:hover {
    opacity: 0.75;
    transform: scale(1.125);
}

.share-button:active,
.share-button:active:focus {
    background-image: linear-gradient(to top, rgba(255, 255, 255, 0.3), rgba(0, 0, 0, 0.1));
}

.share-button i,
.share-button span {
    margin: 8px;
    vertical-align: middle;
    color: #FFF;
}

.share-button:active span {
    color: #FFF;
    text-shadow: 0 2px rgba(0, 0, 0, 0.2);
}

.share-button span {
    font-size: 24px;
    line-height: 26px;
    text-transform: uppercase;
    font-weight: 700;
    margin: 0;
    padding: 0;
}

.share-button i {
    font-size: 16px;
    vertical-align: middle;
    text-align: center;
    line-height: 33px;
    width: 24px;
    margin: 0;
    padding: 0;
}

@media (min-width: 992px) {
    .share-button {
        width: 64px;
        height: 64px;
    }

    .share-button span {
        line-height: 52px;
    }

    .share-button i {
        font-size: 32px;
        line-height: 66px;
        width: 64px;
    }
}


/* =========================================
   4. BRAND COLORS
   ========================================= */
.share-button.x {
    background-color: #15202b;
}

.share-button.stack {
    background-color: #1E5397
}

.share-button.deviantart {
    background-color: #000;
}

.share-button.deviantart i {
    color: #50CC47;
}

.share-button.github {
    background-color: #26115F;
}

.share-button.linkedin {
    background-color: #0A66C2;
}

.share-button.dev {
    background-color: #0A0A0A;
}

.share-button.instagram {
    background-color: #E4405F;
}

.share-button.youtube {
    background-color: #FF0000;
}

.share-button.gitlab {
    background-color: #FC6D26;
}

.share-button.medium {
    background-color: #E8E8E8;
}

.share-button.medium i {
    color: #191919;
}

.share-button.steam {
    background-color: #1B2838;
}

/* =========================================
   5. ANIMATIONS
   ========================================= */
/*
    Hearbeat Animation
    Derived from https://codepen.io/ksycz/pen/MVvqpy
*/

.heartbeat-animation {
    animation: 1.25s infinite heartbeat;
}

@keyframes heartbeat {
    0% {
        transform: scale(1);
    }

    25% {
        transform: scale(1.05);
    }

    40% {
        transform: scale(1);
    }

    60% {
        transform: scale(1.05);
    }

    100% {
        transform: scale(1);
    }
}

/* end - Hearbeat Animation */